# Creating Shapefiles for Web App - Custom_A

Inputs: 
1) Pagg_ReportingUnit.csv.  Contains reportinug unit info from WaDE database.

2) 

Paring HUC8 to ReportingUnitNativeID

In [1]:
#Needed Libararies
import os
import numpy as np
import pandas as pd
from datetime import datetime
import geopandas as gpd # the library that lets us read in shapefiles
pd.set_option('display.max_columns', 999)  # How to display all columns of a Pandas DataFrame in Jupyter Notebook

In [2]:
# Set working directory
workingDir = "C:/Users/rjame/Documents/RShinyAppPractice/CreateAppShapefiles"
os.chdir(workingDir)

# Grab AggreagatedAmounts ReportingUnit.csv file.
reportingunits_input = pd.read_csv('Pagg_ReportingUnit.csv')
df_1RU = pd.DataFrame(reportingunits_input)
df_1RU.head(3)

,ReportingUnitID,ReportingUnitUUID,ReportingUnitNativeID,ReportingUnitName,ReportingUnitTypeCV,StateCV,EPSGCodeCV
0,254,00-01-03,00-01-03,Curlew Valley,Subarea,UT,EPSG:4326
1,255,000-01-03,000-01-03,Clear Creek,Subarea,UT,EPSG:4326
2,256,00-07-02,00-07-02,Promontory Point,Subarea,UT,EPSG:4326

### California - Planning Area

In [3]:
# Grab the CA Planning Area Shapefile.
# Paring PA_NO to ReportingUnitNativeID

CAPAshapefile_input = gpd.read_file('C:/Users/rjame/Documents/WSWC Documents/MappingStatesDataToWaDE2.0/California/AggregatedAmounts/RawInputData/Water_Plan_Planning_Areas-shp/Water_Plan_Planning_Areas.shp')
dfs_CAPA = pd.DataFrame(CAPAshapefile_input)
dfs_CAPA.head(3)

   OBJECTID PA_NO                                           geometry
0        12  1001  POLYGON ((-115.16056 35.35811, -115.16038 35.3...
1        13  1002  POLYGON ((-116.62283 34.16694, -116.62253 34.1...
2        14  1003  POLYGON ((-114.80515 34.22629, -114.80435 34.2...

In [4]:
# Custom
# State: CA, Planning Area
###########################################################################

# Create temporal dataframes for state specific and reportingunit type storage
df_1RU_Custom_CA = df_1RU[(df_1RU.ReportingUnitTypeCV == 'Planning Area') & ((df_1RU.StateCV == 'CA'))]

# retreive ReportingUnitUUID.
ReportingUnitUUIDdict = pd.Series(df_1RU_Custom_CA.ReportingUnitUUID.values, index = df_1RU_Custom_CA.ReportingUnitNativeID).to_dict()
def retrieveCountyName(colrowValue):
    if colrowValue == '' or pd.isnull(colrowValue):
        outList = ''
    else:
        String1 = colrowValue
        try:
            outList = ReportingUnitUUIDdict[String1]
        except:
            outList = ''
    return outList
dfs_CAPA['ReportingUnitUUID'] = dfs_CAPA.apply(lambda row: retrieveCountyName(row['PA_NO']), axis=1)

# Merging temporal dataframes into one, using left-join.
dfs_CAPA = pd.merge(dfs_CAPA, df_1RU_Custom_CA, left_on='ReportingUnitUUID', right_on='ReportingUnitUUID', how='left')

# Creating new output state specific dataframe with fields of interest.
dfs_2CAPA = pd.DataFrame() #empty dataframe
dfs_2CAPA['OBJECTID'] = dfs_CAPA.index
dfs_2CAPA['Shape'] = 'Polygon'
dfs_2CAPA['ReportingUnitID'] = dfs_CAPA['ReportingUnitID']
dfs_2CAPA['ReportingUnitUUID'] = dfs_CAPA['ReportingUnitUUID']
dfs_2CAPA['ReportingUnitNativeID'] = dfs_CAPA['ReportingUnitNativeID']
dfs_2CAPA['ReportingUnitName'] = dfs_CAPA['ReportingUnitName']
dfs_2CAPA['ReportingUnitTypeCV'] = dfs_CAPA['ReportingUnitTypeCV']
dfs_2CAPA['StateCV'] = dfs_CAPA['StateCV']
dfs_2CAPA['geometry'] = dfs_CAPA['geometry']

# view output
dfs_2CAPA.head(3)

,OBJECTID,Shape,ReportingUnitID,ReportingUnitUUID,ReportingUnitNativeID,ReportingUnitName,ReportingUnitTypeCV,StateCV,geometry
0,0,Polygon,23627,CAag_RU51,1001,1001,Planning Area,CA,"POLYGON ((-115.16056 35.35811, -115.16038 35.3..."
1,1,Polygon,23628,CAag_RU52,1002,1002,Planning Area,CA,"POLYGON ((-116.62283 34.16694, -116.62253 34.1..."
2,2,Polygon,23629,CAag_RU53,1003,1003,Planning Area,CA,"POLYGON ((-114.80515 34.22629, -114.80435 34.2..."

### AZ - Active Management Area

In [5]:
# Grab the AZ Active Management Area Shapefile.
# Paring BASIN_NAME to ReportingUnitName

AZ_AMAshapefile_input = gpd.read_file('C:/Users/rjame/Documents/WSWC Documents/Portal Creation Research/WaDECustom/AZ_AMA.shp')
dfs_AZAMA = pd.DataFrame(AZ_AMAshapefile_input)
dfs_AZAMA.head(3)

,OBJECTID,BASIN_NAME,NAME_ABBR,Shape_Leng,Shape_Le_1,Shape_Area,geometry
0,1,SANTA CRUZ AMA,SCA,2.245176,2.245176,0.176233,"POLYGON ((-111.19920 31.85820, -111.19888 31.8..."
1,2,PRESCOTT AMA,PRE,1.930985,1.930985,0.122395,"POLYGON ((-112.56132 34.72245, -112.56119 34.7..."
2,3,HARQUAHALA INA,HAR,2.365999,2.365999,0.192482,"POLYGON ((-113.30171 33.83493, -113.30157 33.8..."

In [6]:
# Custom
# State: AZ, Active Management Area
###########################################################################

# Create temporal dataframes for state specific and reportingunit type storage
df_1RU_Custom_AZ = df_1RU[(df_1RU.ReportingUnitTypeCV == 'Active Management Area') & ((df_1RU.StateCV == 'AZ'))]

# retreive ReportingUnitUUID.
ReportingUnitUUIDdict = pd.Series(df_1RU_Custom_AZ.ReportingUnitUUID.values, index = df_1RU_Custom_AZ.ReportingUnitName).to_dict()
def retrieveCountyName(colrowValue):
    if colrowValue == '' or pd.isnull(colrowValue):
        outList = ''
    else:
        String1 = colrowValue
        try:
            outList = ReportingUnitUUIDdict[String1]
        except:
            outList = ''
    return outList
dfs_AZAMA['ReportingUnitUUID'] = dfs_AZAMA.apply(lambda row: retrieveCountyName(row['BASIN_NAME']), axis=1)

# Merging temporal dataframes into one, using left-join.
dfs_AZAMA = pd.merge(dfs_AZAMA, df_1RU_Custom_AZ, left_on='ReportingUnitUUID', right_on='ReportingUnitUUID', how='left')

# Creating new output state specific dataframe with fields of interest.
dfs_2AZAMA = pd.DataFrame() #empty dataframe
dfs_2AZAMA['OBJECTID'] = dfs_AZAMA.index
dfs_2AZAMA['Shape'] = 'Polygon'
dfs_2AZAMA['ReportingUnitID'] = dfs_AZAMA['ReportingUnitID']
dfs_2AZAMA['ReportingUnitUUID'] = dfs_AZAMA['ReportingUnitUUID']
dfs_2AZAMA['ReportingUnitNativeID'] = dfs_AZAMA['ReportingUnitNativeID']
dfs_2AZAMA['ReportingUnitName'] = dfs_AZAMA['ReportingUnitName']
dfs_2AZAMA['ReportingUnitTypeCV'] = dfs_AZAMA['ReportingUnitTypeCV']
dfs_2AZAMA['StateCV'] = dfs_AZAMA['StateCV']
dfs_2AZAMA['geometry'] = dfs_AZAMA['geometry']

# view output
dfs_2AZAMA.head(3)

,OBJECTID,Shape,ReportingUnitID,ReportingUnitUUID,ReportingUnitNativeID,ReportingUnitName,ReportingUnitTypeCV,StateCV,geometry
0,0,Polygon,21232.0,AZag_RU4,Unspecified,SANTA CRUZ AMA,Active Management Area,AZ,"POLYGON ((-111.19920 31.85820, -111.19888 31.8..."
1,1,Polygon,21231.0,AZag_RU3,Unspecified,PRESCOTT AMA,Active Management Area,AZ,"POLYGON ((-112.56132 34.72245, -112.56119 34.7..."
2,2,Polygon,NaN,,NaN,NaN,NaN,NaN,"POLYGON ((-113.30171 33.83493, -113.30157 33.8..."

### Texas - Basin

In [7]:
# Grab the TX Basin Shapefile.
# Paring RU_Name to ReportingUnitName

TXBshapefile_input = gpd.read_file('C:/Users/rjame/Documents/WSWC Documents/Portal Creation Research/WaDEBasins/WaDEBasins.shp')
dfs_TXB = pd.DataFrame(TXBshapefile_input)
dfs_TXB.head(3)

,RU_ID,RU_Name,StateNum,State_RU,Shape_Leng,Shape_Area,TypeNameNu,geometry
0,12,Brazos,37,37-12,28.211813,10.653969,3_Brazos_37,"MULTIPOLYGON (((-95.38128 28.87588, -95.38851 ..."
1,13,Brazos-Colorado,37,37-13,7.272600,0.431697,3_Brazos-Colorado_37,"MULTIPOLYGON (((-95.75817 28.73139, -95.75682 ..."
2,1,Canadian,37,37-1,9.471170,3.312585,3_Canadian_37,"POLYGON ((-100.00040 35.81694, -100.02271 35.8..."

In [8]:
# Custom
# State: TX, Basin
# Notes: Need to change the string case of ReportingUnitName to title
###########################################################################

# Create temporal dataframes for state specific and reportingunit type storage
df_1RU_Custom_TX = df_1RU[(df_1RU.ReportingUnitTypeCV == 'Basin') & ((df_1RU.StateCV == 'TX'))]
df_1RU_Custom_TX['ReportingUnitName'] = df_1RU_Custom_TX['ReportingUnitName'].str.title()

# retreive ReportingUnitUUID.
ReportingUnitUUIDdict = pd.Series(df_1RU_Custom_TX.ReportingUnitUUID.values, index = df_1RU_Custom_TX.ReportingUnitName).to_dict()
def retrieveUUID(colrowValue):
    if colrowValue == '' or pd.isnull(colrowValue):
        outList = ''
    else:
        String1 = colrowValue.strip()
        try:
            outList = ReportingUnitUUIDdict[String1]
        except:
            outList = ''
    return outList
dfs_TXB['ReportingUnitUUID'] = dfs_TXB.apply(lambda row: retrieveUUID(row['RU_Name']), axis=1)

# Merging temporal dataframes into one, using left-join.
dfs_TXB = pd.merge(dfs_TXB, df_1RU_Custom_TX, left_on='ReportingUnitUUID', right_on='ReportingUnitUUID', how='left')

# Creating new output state specific dataframe with fields of interest.
dfs_2TXB = pd.DataFrame() #empty dataframe
dfs_2TXB['OBJECTID'] = dfs_TXB.index
dfs_2TXB['Shape'] = 'Polygon'
dfs_2TXB['ReportingUnitID'] = dfs_TXB['ReportingUnitID']
dfs_2TXB['ReportingUnitUUID'] = dfs_TXB['ReportingUnitUUID']
dfs_2TXB['ReportingUnitNativeID'] = dfs_TXB['ReportingUnitNativeID']
dfs_2TXB['ReportingUnitName'] = dfs_TXB['ReportingUnitName']
dfs_2TXB['ReportingUnitTypeCV'] = dfs_TXB['ReportingUnitTypeCV']
dfs_2TXB['StateCV'] = dfs_TXB['StateCV']
dfs_2TXB['geometry'] = dfs_TXB['geometry']

#view output
dfs_2TXB.head(3)

C:\Users\rjame\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,OBJECTID,Shape,ReportingUnitID,ReportingUnitUUID,ReportingUnitNativeID,ReportingUnitName,ReportingUnitTypeCV,StateCV,geometry
0,0,Polygon,22752.0,TX_12,12,Brazos,Basin,TX,"MULTIPOLYGON (((-95.38128 28.87588, -95.38851 ..."
1,1,Polygon,22753.0,TX_13,13,Brazos-Colorado,Basin,TX,"MULTIPOLYGON (((-95.75817 28.73139, -95.75682 ..."
2,2,Polygon,22749.0,TX_1,1,Canadian,Basin,TX,"POLYGON ((-100.00040 35.81694, -100.02271 35.8..."

### Wyoming - Basin

In [9]:
# Grab the WY Basin Shapefile.
# Paring RU_Name to ReportingUnitName

WYBshapefile_input = gpd.read_file('C:/Users/rjame/Documents/WSWC Documents/Portal Creation Research/WaDEBasins/WaDEBasins.shp')
dfs_WYB = pd.DataFrame(WYBshapefile_input)
dfs_WYB.head(3)

,RU_ID,RU_Name,StateNum,State_RU,Shape_Leng,Shape_Area,TypeNameNu,geometry
0,12,Brazos,37,37-12,28.211813,10.653969,3_Brazos_37,"MULTIPOLYGON (((-95.38128 28.87588, -95.38851 ..."
1,13,Brazos-Colorado,37,37-13,7.272600,0.431697,3_Brazos-Colorado_37,"MULTIPOLYGON (((-95.75817 28.73139, -95.75682 ..."
2,1,Canadian,37,37-1,9.471170,3.312585,3_Canadian_37,"POLYGON ((-100.00040 35.81694, -100.02271 35.8..."

In [10]:
# Custom
# State: WY, Basin
# # Notes: Need to change the string case of ReportingUnitName to title
###########################################################################

# Create temporal dataframes for state specific and reportingunit type storage
df_1RU_Custom_WY = df_1RU[(df_1RU.ReportingUnitTypeCV == 'Basin') & ((df_1RU.StateCV == 'WY'))]
# df_1RU_Custom_TX['ReportingUnitName'] = df_1RU_Custom_TX['ReportingUnitName'].str.title()

# retreive ReportingUnitUUID.
ReportingUnitUUIDdict = pd.Series(df_1RU_Custom_WY.ReportingUnitUUID.values, index = df_1RU_Custom_WY.ReportingUnitName).to_dict()
def retrieveUUID(colrowValue):
    if colrowValue == '' or pd.isnull(colrowValue):
        outList = ''
    else:
        String1 = colrowValue.strip()
        try:
            outList = ReportingUnitUUIDdict[String1]
        except:
            outList = ''
    return outList
dfs_WYB['ReportingUnitUUID'] = dfs_WYB.apply(lambda row: retrieveUUID(row['RU_Name']), axis=1)
dfs_WYB
# Merging temporal dataframes into one, using left-join.
dfs_WYB = pd.merge(dfs_WYB, df_1RU_Custom_WY, left_on='ReportingUnitUUID', right_on='ReportingUnitUUID', how='left')

# Creating new output state specific dataframe with fields of interest.
dfs_2WYB = pd.DataFrame() #empty dataframe
dfs_2WYB['OBJECTID'] = dfs_WYB.index
dfs_2WYB['Shape'] = 'Polygon'
dfs_2WYB['ReportingUnitID'] = dfs_WYB['ReportingUnitID']
dfs_2WYB['ReportingUnitUUID'] = dfs_WYB['ReportingUnitUUID']
dfs_2WYB['ReportingUnitNativeID'] = dfs_WYB['ReportingUnitNativeID']
dfs_2WYB['ReportingUnitName'] = dfs_WYB['ReportingUnitName']
dfs_2WYB['ReportingUnitTypeCV'] = dfs_WYB['ReportingUnitTypeCV']
dfs_2WYB['StateCV'] = dfs_WYB['StateCV']
dfs_2WYB['geometry'] = dfs_WYB['geometry']

#view output
dfs_2WYB.head(3)

,OBJECTID,Shape,ReportingUnitID,ReportingUnitUUID,ReportingUnitNativeID,ReportingUnitName,ReportingUnitTypeCV,StateCV,geometry
0,0,Polygon,NaN,,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-95.38128 28.87588, -95.38851 ..."
1,1,Polygon,NaN,,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-95.75817 28.73139, -95.75682 ..."
2,2,Polygon,NaN,,NaN,NaN,NaN,NaN,"POLYGON ((-100.00040 35.81694, -100.02271 35.8..."

In [11]:
# Merge dataframes
frames = [dfs_2CAPA, dfs_2AZAMA, dfs_2TXB, dfs_2WYB]
outdf = pd.concat(frames)
outdf.head(3)

,OBJECTID,Shape,ReportingUnitID,ReportingUnitUUID,ReportingUnitNativeID,ReportingUnitName,ReportingUnitTypeCV,StateCV,geometry
0,0,Polygon,23627.0,CAag_RU51,1001,1001,Planning Area,CA,"POLYGON ((-115.16056 35.35811, -115.16038 35.3..."
1,1,Polygon,23628.0,CAag_RU52,1002,1002,Planning Area,CA,"POLYGON ((-116.62283 34.16694, -116.62253 34.1..."
2,2,Polygon,23629.0,CAag_RU53,1003,1003,Planning Area,CA,"POLYGON ((-114.80515 34.22629, -114.80435 34.2..."

In [12]:
# drop NA rows
outdf = outdf.dropna(subset=['ReportingUnitID'])
outdf

,OBJECTID,Shape,ReportingUnitID,ReportingUnitUUID,ReportingUnitNativeID,ReportingUnitName,ReportingUnitTypeCV,StateCV,geometry
0,0,Polygon,23627.0,CAag_RU51,1001,1001,Planning Area,CA,"POLYGON ((-115.16056 35.35811, -115.16038 35.3..."
1,1,Polygon,23628.0,CAag_RU52,1002,1002,Planning Area,CA,"POLYGON ((-116.62283 34.16694, -116.62253 34.1..."
2,2,Polygon,23629.0,CAag_RU53,1003,1003,Planning Area,CA,"POLYGON ((-114.80515 34.22629, -114.80435 34.2..."
3,3,Polygon,23630.0,CAag_RU54,1004,1004,Planning Area,CA,"POLYGON ((-115.12583 35.39706, -115.09804 35.3..."
4,4,Polygon,23631.0,CAag_RU55,1005,1005,Planning Area,CA,"POLYGON ((-116.56630 33.54937, -116.56550 33.5..."
...,...,...,...,...,...,...,...,...,...
25,25,Polygon,21513.0,WY_3,3,Northeast River Planning Basin,Basin,WY,"POLYGON ((-105.00107 45.00031, -104.05819 44.9..."
26,26,Polygon,21514.0,WY_4,4,Platte River Planning Basin,Basin,WY,"POLYGON ((-106.52719 43.19357, -106.52964 43.1..."
27,27,Polygon,21515.0,WY_5,5,Powder-Tongue River Planning Basin,Basin,WY,"POLYGON ((-105.85433 45.00043, -105.04859 44.9..."
28,28,Polygon,21516.0,WY_6,6,Salt-Snake River Planning Basin,Basin,WY,"POLYGON ((-110.63437 44.48433, -110.61510 44.4..."
29,29,Polygon,21517.0,WY_7,7,Wind-Bighorn River Planning Basin,Basin,WY,"POLYGON ((-109.10415 45.00585, -109.06805 44.9..."

In [13]:
# Export the dataframe to a shapefile.
# Note: rememeber that shapefiles autofill in fields names, will need to fix field names in app upload.
dfsOut = gpd.GeoDataFrame(outdf, geometry='geometry') # covert to geodataframe
dfsOut.to_file("App2Shapefiles/P_Custom.shp") # export shape file

### Bonus Code

In [14]:
# # retreive ReportingUnitName (to check results)
# ReportingUnitNamedict = pd.Series(df_1RU_County_CA.ReportingUnitName.values, index = df_1RU_County_CA.ReportingUnitName).to_dict()
# def retrieveCountyName(colrowValue):
#     if colrowValue == '' or pd.isnull(colrowValue):
#         outList = ''
#     else:
#         String1 = colrowValue
#         try:
#             outList = ReportingUnitNamedict[String1]
#         except:
#             outList = ''
#     return outList
# dfs_1County_CA['ReportingUnitName'] = dfs_1County_CA.apply(lambda row: retrieveCountyName(row['NAME']), axis=1)

In [15]:
# dfs_1HUC8 = dfs_1HUC8.drop(['geometry'], axis=1)
# dfs_1HUC8.to_csv('App2Shapefiles/dfs_1HUC8.csv', index=False)

In [16]:
# dfs_2AZAMA = dfs_2AZAMA.dropna(subset=['ReportingUnitID'])
# # Export the dataframe to a shapefile.
# # Note: rememeber that shapefiles autofill in fields names, will need to fix field names in app upload.
# dfsOut = gpd.GeoDataFrame(dfs_2AZAMA, geometry='geometry') # covert to geodataframe
# dfsOut.to_file("App2Shapefiles/P_AZCheckCustom.shp") # export shape file